<nav class="nav">
  <ul class="lists">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/media?type=image">images</a>
    </li>
    <li>
      <a href="/media?type=video">videos</a>
    </li>
    <li>
      <a href="/media?type=audio">audios</a>
    </li>
  </ul>
</nav>